$color-primary: #D83696;
$color-second: #F5D6DD;
$color-third: #E977C2;
$color-font: #101010;

$color-border: #E4E4E4;

$screen-sm: 419px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1214px;
$screen-xxl: 1600px;
